<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <h1 style="text-align:center;">Real-Time Game</h1>

    <div class="game-info">
        <p id="player-role">You are: Spectator</p>
        <p id="turn-indicator">Turn: White</p>
    </div>

    <div class="captured-pieces-container">
        <div class="captured black-captured">
            <h3 >Black Captured</h3>
            <div id="blackCaptured"></div>
        </div>

        <div class="w-full h-full flex items-center justify-center ">
            <div class="chessboard"> </div>
        </div>
        <div class="captured white-captured">
            <h3 style="color:white">White Captured</h3>
            <div id="whiteCaptured"></div>
        </div>
    </div>


    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
        integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/client.js"></script>
</body>

</html>